@model Symphony_LTD.Models.Student

@{
    ViewData["Title"] = "Edit/Delete Student";
    Layout = "_AdminLayout";
}



<div class="content-page">
    <div class="content">
        <h1>Edit/Delete Student</h1>
        <hr />
        <div class="container-sm">
            <form method="post" asp-action="ChangeStudent">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="StudentId" value="@Model.StudentId"/>

<div class="col-6">
                        <div class="form-group">
                            <label asp-for="RollNumber" class="control-label"></label>
                            <input type="number" asp-for="RollNumber" class="form-control" placeholder="Roll No#"  />
                            <span asp-validation-for="RollNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="First Name"  />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" placeholder="Middle Name"/>
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input type="date" asp-for="DateOfBirth" class="form-control" placeholder="Date Of Birth" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" placeholder="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input type="password" asp-for="Password" value="@ViewBag.Password" class="form-control" placeholder="Password"  />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label asp-for="Class" class="form-label"></label>
                        <select asp-for="Class" class="form-control">
                            @foreach (var i in ViewBag.Classes)
                            {
                                <option value="@i._Class">@i._Class</option>
                            }
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="col-12 form-group">
                            <label class="control-label">Request Approval</label>
                            <select asp-for="Accept" class="form-control" required>
                                <option value="Accepted">Accept</option>
                                <option value="Rejected">Reject</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        
                      <div class="form-group">

                            <input type="submit" class="btn btn-success" value="Update"/>
                      </div>      
                        </div>
                    
                    </div>

            </form>

            <div>
                <a asp-action="Student">Back to Students</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
                }