@{
    ViewData["Title"] = "Check Results";
    Layout = "_AdminLayout";
}


<div class="content-page">
    <div class="content">
        <h1>Results</h1>
        <h3>Student Results</h3>
        <hr />
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="responsive-table-plugin">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1">Roll No#</th>
                                                    <th data-priority="3">Student Full Name</th>
                                                    <th data-priority="1">Exam Name</th>
                                                    <th data-priority="3">Attemp Date</th>
                                                    <th data-priority="3">Course Name</th>
                                                    <th data-priority="6">Comments</th>
                                                    <th data-priority="6">Total Marks</th>
                                                    <th data-priority="6">Obtained Marks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.StudentDetailsList != null)
                                                {
                                                    @foreach (var i in ViewBag.StudentDetailsList)
                                                    {                                    
                                                        <tr>
                                                            <td>@i.RollNumber</td>
                                                            <td>@i.FirstName @i.MiddleName @i.LastName</td>
                                                            <td>@i.Class</td>
                                                            <td>582.93</td>
                                                            <td>597.95</td>
                                                            <td>597.73 x 100</td>
                                                            <td>597.91 x 300</td>
                                                            <td>731.10</td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div> <!-- end .table-responsive -->

                                </div> <!-- end .table-rep-plugin-->
                            </div> <!-- end .responsive-table-plugin-->
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->
</div>