@model Symphony_LTD.Models.EntranceExam
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Individual Student Exam Schedule";
}

<div class="content-page">
    <div class="content">
        <h1><span class="text-danger">Pending</span> Entrance Exam</h1>
        <h3>Entrance Exam Schedule</h3>
        <hr />

        <div class="row p-3" style="background-color:white !important; border-radius: 25px !important;">

            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>

                                <th>Exam Name/Title</th>
                                <th>Total Marks</th>
                                <th>Exam Description/Detail</th>
                                <th>Schedule Date</th>
                                <th>Course</th>
                                <th>Topics Covered In Course</th>
                                <th>Course Fee</th>
                                <th>Course Details</th>
                                <th>Status</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag._EntranceExam)
                            {
                                if (i.Pending)
                                {
                                    <tr>
                                        @foreach (var x in ViewBag.Courses)
                                        {
                                            if (x.Id == i.Course)
                                            {

                                                <td>@i.ExamName</td>
                                                <td>@i.TotalMarks</td>
                                                <td>@i.Description</td>
                                                <td>@i.Date</td>
                                                <td>@x.CourseName</td>
                                                <td>@x.TopicsCovered</td>
                                                <td>$@x.CourseFee</td>
                                                <td>@x.CourseDetails</td>
                                                <td>
                                                    @if (i.Pending == true)
                                                    {
                                                        <p class="text-danger fw-bold">Not Done</p>
                                                    }
                                                    else if (i.Pending == false && i.Pending != null)
                                                    {
                                                        <p class="text-success fw-bold">Done</p>
                                                    }
                                                </td>

                                                <!-- Action: Edit/Delete -->
                                                <td>
                                                    <form asp-action="EntranceExamSchedule">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" asp-for="Id" value="@i.Id" />
                                                        <input type="hidden" asp-for="ExamName" value="@i.ExamName" />
                                                        <input type="hidden" asp-for="StudentId" value="@i.StudentId" />
                                                        <input type="hidden" asp-for="TotalMarks" value="@i.TotalMarks" />
                                                        <input type="hidden" asp-for="Description" value="@i.Description" />
                                                        <input type="hidden" asp-for="Date" value="@i.Date" />
                                                        <input type="hidden" asp-for="Course" value="@i.Course" />                                              <input type="hidden" asp-for="Pending" value="false" />

                                                        <input type="submit" class="btn btn-warning" value="Exam Conducted" />
                                                    </form>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>