@model Symphony_LTD.Models.Exam

@{
    ViewData["Title"] = "Exam";
   
}

@{
    Layout = "_AdminLayout"; // Set the layout for this view
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <h2>Add Exam For Student</h2>
            <h4>Assigning Entrance Exams For Students Individually</h4>
            <h5 class="text-danger">This is only for those students who were unable to attempt the exam, because of a serious problem.</h5>
            <hr />
            <form method="post" asp-action="Exam">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">


                                <div class="mb-3">
                                    <label asp-for="ExamName" class="form-label"></label>
                                    <input type="text" asp-for="ExamName" class="form-control" placeholder="Exam Name" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="Score"></label>
                                    <input type="text" asp-for="Score" class="form-control" placeholder="Score" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="StudentId"></label>
                                    <select asp-for="StudentId" class="form-control" required>
                                        @foreach (var i in ViewBag.Student)
                                        {
                                            <option value="@i.StudentId">
                                                Name: @i.FirstName @i.MiddleName @i.LastName | Roll No#-: @i.RollNumber
                                        </option>
                                        }
                                    </select>

                                </div>
                                  <div class="mb-3">

                                <label class="form-label" asp-for="CourseId"></label>
                                    <select class="form-control" asp-for="CourseId" required>
                                @foreach (var i in ViewBag.Course)
                                {
                                <option value="@i.Id">@i.CourseName</option>
                                }
                                </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" asp-for="Detail"></label>
                                    <input type="text" asp-for="Detail" class="form-control" placeholder="Exam Detail" required>
                                </div>

                            </div>
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <label class="form-label" asp-for="ExamDate"></label>
                                    <input asp-for="ExamDate" class="form-control" placeholder="Exam Date" required>
                                </div>


                                <div class="mb-3 mt-4">

                                    <input type="submit" class="form-control btn btn-success" value="Add">
                                </div>

                            </div>


                        </div> <!-- end card-->




                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </form>



        </div> <!-- container -->

        <div class="container-fluid mt-5">
            <h1 class="text-center">Scheduled Exam</h1>
            <div class="row" style="background-color:white !important; border-radius: 25px !important;">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Exam Name/Title</th>
                                    <th>Exam Date</th>
                                    <th>Total Score</th>
                                    <th>Student Name</th>
                                    <th>Course Name</th>
                                    <th>Detail</th>                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in ViewBag.Exam)
                                {
                                    <tr>
                                        @foreach (var x in ViewBag.Student)
                                        {
                                            if (x.StudentId == i.StudentId)
                                            {

                                                <td>@i.ExamName</td>
                                                <td>
                                                    @i.ExamDate <!-- Button trigger modal -->
                                                    <a title="Update Schedule" class="text-info" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#date_@i.Id">
                                                        <i title="Update Schedule" class="bi bi-calendar3"></i>
                                                    </a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="date_@i.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Schedule</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form asp-action="UpdateExamSchedule">
                                                                        @Html.AntiForgeryToken()
                                                                        <div class="card-body">
                                                                            <div class="card">
                                                                                <input type="hidden" asp-for="Id" value="@i.Id"/>
                                                                                <input type="hidden" asp-for="ExamName" value="@i.ExamName" />
                                                                                <input type="hidden" asp-for="Detail" value="@i.Detail"/>
                                                                                <input type="hidden" asp-for="Score" value="@i.Score"/>
                                                                                <input type="hidden" asp-for="StudentId" value="@i.StudentId"/>
                                                                                <input type="hidden" asp-for="CourseId" value="@i.CourseId"/>

                                                                        <label class="form-label" asp-for="ExamDate"></label>
                                                                                <input asp-for="ExamDate" class="form-control" />

                                                                            </div>

                                                                        </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-success">Update</button>
                                                                </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>@i.Score</td>
                                                <td>@x.FirstName @x.MiddleName @x.LastName</td>
                                                @foreach (var j in ViewBag.Course)
                                                {
                                                    if (j.Id == i.CourseId)
                                                    {
                                                        <td>@j.CourseName</td>
                                                    }
                                                }
                                                <td>@i.Detail</td>
                                                <td>
                                                    @if(i.Pending == true)
                                                    {
                                                        <p class="text-danger fw-bold">Not Done</p>
                                                    }else if (i.Pending == false && i.Pending != null)
                                                    {
                                                    <p class="text-success fw-bold">Done</p>
                                                    }


                                                </td>
                                                <!-- Action: Edit/Delete -->
                                                <td>
                                                    <div class="row">
                                                        <div class="col-lg-6 m-1">
                                                            <a asp-action="ExamEdit" class="btn btn-outline-warning" asp-route-id="@i.Id">Edit</a>
                                                        </div>
                                                        <div class="col-lg-6 m-1">

                                                            @* Modal *@

                                                            <!--Button trigger modal -->
                                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_@i.Id">
                                                                Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="delete_@i.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <h5>Are you sure, you want to delete this exam: @i.ExamName</h5>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                            <a class="btn btn-primary" asp-action="DeleteExam" asp-route-id="@i.Id">Delete</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>

    </div> <!-- content -->


</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
                }