@model Symphony_LTD.Models.Exam

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Exam Edit";
}

<div class="content-page">
     <div class="content">
        <h1>Edit Exam</h1>

        <h4>Exam</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ExamEdit">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" value="@ViewBag.Id"/>
                    <div class="form-group">
                        <label asp-for="ExamName" class="control-label"></label>
                        <input asp-for="ExamName" value="@ViewBag.ExamName" placeholder="Exam Name/Title" class="form-control" />
                        <span asp-validation-for="ExamName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Score" class="control-label"></label>
                        <input asp-for="Score" value="@ViewBag.Score" placeholder="Total Marks/Score" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentId" class="control-label"></label>
                        <select asp-for="StudentId" class="form-control" required>
                            <option value="@ViewBag.StudentId">@ViewBag.StudentFName @ViewBag.StudentMName @ViewBag.StudentLName | @ViewBag.RollNo</option>
                            @foreach (var i in ViewBag.Student)
                            {
                                if (i.StudentId != ViewBag.StudentId)
                                {
                                    <option value="@i.StudentId">
                                        @i.FirstName @i.MiddleName @i.LastName | @i.RollNumber
                                    </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseId" class="control-label"></label>
                        <select class="form-control" asp-for="CourseId">
                            <option value="@ViewBag.CourseId">@ViewBag.CourseName</option>
                            @foreach (var i in ViewBag.Course)
                            {
                              if (i.Id != ViewBag.CourseId)
                                {
                                    <option value="@i.Id">
                                        @i.CourseName
                                    </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Detail" class="control-label"></label>
                        <input asp-for="Detail" value="@ViewBag.Details" placeholder="Exam Details" class="form-control" />
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>                   
                    <div class="form-group text-center mt-3">
                        <input type="submit" value="Update" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
</div>
</div>




