@model Symphony_LTD.Models.HomeSectionOne
@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Home Page";
}

<div class="content-page">
    <div class="content">
        <h1>Home Page</h1>
        <h3>
            Modify Home/Landing Page | Section 1
        </h3>
        <hr />

        <div class="container">
            <form asp-controller="Admin" asp-action="Home" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="H5"></label>
                        <input class="form-control" value="@ViewBag.H5" asp-for="H5" placeholder="Heading 5 - <h5></h5>" />
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="H2"></label>
                        <input class="form-control" value="@ViewBag.H2" asp-for="H2" placeholder="Heading 2 - <h2></h2>" />
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="Paragraph"></label>
                        <input class="form-control" value="@ViewBag.Paragraph" asp-for="Paragraph" placeholder="Paragraph" />
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="BtnVal"></label>
                        <input class="form-control" value="@ViewBag.BtnVal" asp-for="BtnVal" placeholder="Button Value" />
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="BtnAction"></label>
                        <input class="form-control" value="@ViewBag.BtnAction" asp-for="BtnAction" placeholder="Button HREF/Action/Redirection/Url" />
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label" asp-for="Img"></label>
                        <input type="file" value="@ViewBag.Img" class="form-control" asp-for="Img" name="_img" placeholder="Image" />
                        <p class="text-danger">@ViewBag.Img</p>
                    </div>
                    <div class="form-group">
                        <input class="form-control btn btn-outline-success" value="Modify" type="submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
