@model Symphony_LTD.Models.AdminAndContact
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Admin Panel";
}

@{
    Layout = "_AdminLayout"; // layout for this view
}

@if (ViewBag.Email != null && ViewBag.Pass != null)
{

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <h1>Dashboard</h1>
            <h3>Admin Panel</h3>
            <hr />
            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                              
                                
                                <h4 class="header-title mt-0 mb-4">Total Students</h4>

                                <div class="widget-chart-1">
                                    <div class="widget-chart-box-1 float-start" dir="ltr">
                                        <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#f05050 "
                                               data-bgColor="#F9B9B9" value="@ViewBag.TotalColumns" data-max="500"
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15" />
                                    </div>

                                    <div class="widget-detail-1 text-end">
                                        <h2 class="fw-normal pt-2 mb-1"> @ViewBag.TotalColumns / 500</h2>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                               

                                <h4 class="header-title mt-0 mb-3">Courses</h4>

                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-end">
                                     
                                        <h2 class="fw-normal mb-1"> @ViewBag.TotalCourses </h2>
                                        <p class="text-muted mb-3">Total Courses</p>
                                    </div>
                                    <div class="progress progress-bar-alt-success progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             aria-valuenow="@ViewBag.TotalCourses" aria-valuemin="0" aria-valuemax="300"
                                             style="width: @ViewBag.TotalCourses%;">
                                            <span class="visually-hidden">80% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                               

                                <h4 class="header-title mt-0 mb-4">Total Revenue</h4>

                                <div class="widget-chart-1">
                                    <div class="widget-chart-box-1 float-start" dir="ltr">
                                        <input data-plugin="knob" data-width="70" data-height="70" data-fgColor="#ffbd4a"
                                               data-bgColor="#FFE6BA" value="@ViewBag.TotalRevenue" data-max="20000"
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15" />
                                    </div>
                                    <div class="widget-detail-1 text-end">
                                        <h2 class="fw-normal pt-2 mb-1"> @ViewBag.TotalRevenue </h2>
                                        <p class="text-muted mb-1">Revenue</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                               
                                <h4 class="header-title mt-0 mb-3">Total Contacts</h4>

                                <div class="widget-box-2">
                                    <div class="widget-detail-2 text-end">

                                        <h2 class="fw-normal mb-1"> @ViewBag.TotalContacts </h2>
                                        <p class="text-muted mb-3">Total Contacts</p>
                                    </div>
                                    <div class="progress progress-bar-alt-pink progress-sm">
                                        <div class="progress-bar bg-pink" role="progressbar"
                                             aria-valuenow="@ViewBag.TotalContacts" aria-valuemin="0" aria-valuemax="1000"
                                             style="width: @ViewBag.TotalContacts%;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->

                </div>
                <!-- end row -->

              

                <div class="row">
                    <h3 class="text-center">Faculties</h3>
                    @foreach (var i in ViewBag.TotalFaculties)
                    {
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-body widget-user">
                                <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 avatar-lg me-3" style="overflow:hidden !important;">
                                            <img src="~/media/faculty/@i.Image" class="img-fluid" alt="faculty">
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <h5 class="mt-0 mb-1">@i.Name</h5>
                                        <p class="text-muted mb-2 font-13 text-truncate">@i.Role</p>
                                        Id:<small class="text-warning"><b>@i.Id</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>  

                    </div>
                    }
                </div>
                <!-- end row -->


                <div class="row" id="contact-details">
                   

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="header-title mt-0 mb-3">Unread User Messages</h4>

                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Subject</th>
                                                <th>Message</th>
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                                @foreach (var i in Model.Contact)
                                                {
                                                @if(i.Read == false)
                                                {
                                            <tr>
                                                   
                                                        
                                                    
                                                    <td>@i.ContactId</td>
                                                <td>@i.FirstName @i.MiddleName @i.LastName</td>
                                                <td>@i.Email</td>
                                                <td>@i.PhoneNumber</td>
                                                <td>@i.Address</td>
                                                <td>@i.Subject</td>
                                                <td>@i.Message</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                           
                                                                <a style="cursor:pointer;" asp-controller="Admin" asp-action="MsgRead" asp-route-id="@i.ContactId" title="Mark As Read"><i class="bi bi-check2-square text-success"></i></a>

                                                          
                                                        </div>
                                                        <div class="col-6">
                                                                    <a style="cursor:pointer;" asp-controller="Admin" asp-action="DeleteContact" asp-route-id="@i.ContactId" title="Delete"><i class="bi bi-x-circle text-danger"></i></a>
                                                        </div>

                                                        </div>
                                                </td>
                                                    
                                            </tr>
                                                }
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->

                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->

        </div> <!-- content -->
       

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

}else
{
    <script>
        location.replace("/Register/Login");
    </script>
}