@{
    ViewData["Title"] = "Courses";    
}

<style>
    .nav-link {
        color: black !important;
    }
</style>



<!-- contact start -->
<section class="section" id="contact">
    <div class="container-fluid">       
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-2">
                    <h6 class="text-primary small-title">Entrance Exams</h6>
                    <h4>Available <span class="text-warning">Exams</span></h4>
                    <p class="text-muted">Check out the available entrance exam details.</p>
        <hr />
                </div>
            </div>
        </div>
        <div class="row text-center">
            @if (TempData["validate"] != null)
            {
                <h3>Hello, @TempData["student"]!</h3>
                <h4>Down below is your <span class="text-danger">result</span></h4>
                <div class="col-12 mb-3">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Exam Name/Title</th>
                                <th>Exam Description</th>
                                <th>Course</th>
                                <th>Course Detail</th>
                                <th>Course Fee</th>
                                <th>Covered Topics In Course</th>
                                <th>Class</th>
                                <th>Roll No#</th>
                                <th>Student Full Name</th>
                                <th>Total Marks</th>
                                <th>Obtained Marks</th>
                                <th>Comment</th>
                                <th>Schedule Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@TempData["exam"]</td>
                                <td>@TempData["exam_detail"]</td>
                                <td>@TempData["course"]</td>
                                <td>@TempData["course_detail"]</td>
                                <td>@TempData["course_fee"]</td>
                                <td>@TempData["course_topics"]</td>
                                <td>@TempData["class"]</td>
                                <td>@TempData["roll"]</td>
                                <td>@TempData["student"]</td>
                                <td>@TempData["total_marks"]</td>
                                <td>@TempData["marks_obtained"]</td>
                                <td>@TempData["comment"]</td>
                                <td>@TempData["date"]</td>
                                <td class="text-success">Exam Has Been Conducted.</td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            }

            <h3>Exams</h3>
            <!-- Button trigger modal -->
            <div class="text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#result">
                Last Exam Result
            </button>

            </div>
            
            @if (TempData["invalid_roll"] != null)
            {
            <div class="alert alert-danger m-2" role="alert">
                    @TempData["invalid_roll"]
            </div>
            }                      

            <div class="col-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Exam Name/Title</th>
                            <th>Total Marks</th>
                            <th>Exam Description/Detail</th>
                            <th>Schedule Date</th>                            
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if(ViewBag.EntranceExam != null)
                        {
                            @foreach (var i in ViewBag.EntranceExam)
                            {
                                <tr>
                                                <td>@i.Name</td>
                                                <td>@i.Marks</td>
                                                <td>@i.Description</td>
                                                <td>@i.Date</td>
                                                <td>
                                    @if (i.Availablity == true && i.Date >= ViewBag.CurrentDate)
                                    {
                                        <p class="text-success fw-bold">Available</p>
                                    }
                                    else if (i.Availablity == false || i.Date <= ViewBag.CurrentDate)
                                    {
                                        <p class="text-danger fw-bold">Not Available</p>
                                    }
                                    </td>
                                          
                                </tr>
                            }
                        }                       

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end container-fluid -->
    <!-- Modal -->
    <div class="modal fade" id="result" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Check your entrance exam result.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="User" asp-action="GetResult">                        
                        <label class="form-label">Roll No#</label>
                        <input type="number" class="form-control" placeholder="Your Roll No #" name="roll" id="roll" required />                       
                        <a class="btn btn-outline-success mt-2" id="check_result">Check</a>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->
<script>
    document.querySelector("#check_result").addEventListener("click", () => {
        const roll = document.getElementById("roll").value;
        window.location.href = `/User/GetResult?roll=${roll}`;
    });
</script>